body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}

.orange-color-text {
    color: orange;
}

#first-header {
    font-size: 30px;
    margin-bottom: 20px;
}

.link-decoration {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 100px;
}

#first-paragraph {
    margin-bottom: 30px;
}

.section-area {
    display: flex;
    margin-bottom: 30px;
}

.half-width {
    width: 50%;
    margin: 5px;
    padding: 0;
}

.half-width img {
    width: 20%;

}

.full-width img {
    width: 60%;
}

.second-section-bg {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.box-shadow {
    box-shadow: 2px 2px 20px 10px grey;
    padding: 30px;
    border-radius: 25px;
    margin-left: 30px;

}

.box-shadow img {
    width: 100%;

}

.shadow-margin {
    margin-left: 40px;
    margin-right: 40px;


}

.text-weight {
    font-size: 35px;
    font-weight: 900;
}

.content-partition {
    margin-left: 150px;
    margin-right: 100px;
}

footer {
    background-color: black;
    height: 200px;
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 0;
}

#healthy {
    color: grey;
}

.center-align {
    text-align: center;
}

.image-resizer {
    width: 100%;
}